.bg-primary {
	background-color: var(--gray-dark) !important;
}

.col-md-6 {
	padding: 0;
}

.top20 {
	margin-top: 20px;
}

main {
	min-height: 80vh;
}

.container {
	position: relative;
}

.container.center {
	text-align: center;
	overflow: hidden;
}

.py-3.full {
	padding-top: 0 !important;
}

.py-3.full .container {
	width: 100% !important;
	max-width: 100%;
	padding-left: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	text-transform: uppercase;
	font-size: 1.4rem;
	padding: 0.5rem;
}

h2.title {
	margin-top: 20px;
	text-align: center;
	position: relative;
	display: inline;
}

h2.title:after,
h2.title:before {
	background-color: var(--gray-dark);
	content: "";
	height: 1px;
	position: absolute;
	top: calc(50% - 1px);
	width: 600px;
}

h2.title:before {
	margin-right: 10px;
	right: 100%;
}

h2.title:after {
	left: 100%;
	margin-left: 10px;
}

h3 {
	padding: 1rem 0;
}

.btn.btn-primary {
	background: var(--gray-dark) !important;
	border: 0;
	color: #fff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .2);
}

.btn.btn-primary.small {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.rating span {
	margin: 0.1rem;
}

a {
	color: #000;
}

.plus-sign-margin {
	margin: 0.4rem;
}

.push-to-right {
	margin-left: 0.6rem;
}

select,
select.form-control {
	padding: 0.5rem;
	background-position: right 0.5rem center;
}

/* carousel */
.carousel {
	margin-bottom: 2rem;
}

.carousel-indicators {
	display: none !important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}

.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #000;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.carousel a {
	margin: 0 auto;
}

.card {
	position: relative;
	border-radius: 1rem !important;
	box-shadow: none !important;
	border: 1px solid #ddd;
	padding: 0 !important;

	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background-color: #FFF;
}

.card-title {
	margin-bottom: 0;
}

.card-img,
.card-img-top {
	border-top-left-radius: 0.9rem;
	border-top-right-radius: 0.9rem;
}

.card>.list-group:last-child {
	border-bottom-width: 0;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.card>.list-group:first-child {
	border-top-width: 0;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.list-group-flush>.list-group-item {
	margin-left: 0;
}

.list-group .push-to-right:last-of-type {
	border-bottom: none;
}

.price-marker {
	top: 24px;
	right: 0px;
	z-index: 4;
	margin: 0px;
	color: white;
	font-weight: 400;
	position: absolute;
	border-top-left-radius: 26px;
	border-bottom-left-radius: 26px;
	padding: 5px 10px;
	background: var(--gray-dark);
}

/* CONTACT US */

.contact-us {
	position: relative;
}

.contact-us:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-image: url(./img/contactus.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.contact-us.about:before { 
	opacity: 0.9;
	background-image: url(./img/aboutus.jpg);
}

.contact-us.products:before {
	background-image: url(./img/products.jpg);
}

.contact-us.profile:before {
	background-image: url(./img/profile.jpg);
}

.contact-us h2 {
	padding-top: 1.5em !important;
	padding-bottom: 1em !important;
	color: #FFF;
	font-size: 3em;
	font-weight: 700;
}

.contact-us.profile h2 {
	color: #444;
}

/* END CONTACT US */

footer {
	background-color: #f6f6f6;
	padding-top: 1rem;
	border-top: 1px solid #ddd;
}

.top20 {
	margin-top: 20px;
}

.py-3 {
	background-size: contain;
	/*background-image: url(./img/sign.jpg);*/
	background-position: bottom center;
	background-repeat: no-repeat;
}

/*.container {
	width: 100% !important;
}

@media (min-width: 1200px) {

	.wrapper,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1140px;
	}
}

@media (min-width: 992px) {

	.container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 960px;
	}
}

@media (min-width: 768px) {

	.container,
	.container-md,
	.container-sm {
		max-width: 720px;
	}
}

@media (min-width: 576px) {

	.container,
	.container-sm {
		max-width: 540px;
	}
}*/

@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}